<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-auto mt-3 mt-lg-0 pull-left">
        © 2018 <a href=".">Plataforma genérica</a>. Template por <a href="https://codecalm.net" target="_blank">codecalm.net</a>. Desarrollo por <a href="http://resit.cl" target="_blank">resit.cl</a> Todos los derechos reservados.
      </div>
    </div>
  </div>
</footer>
