<div class="my-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a class='btn float-right mb-4' href="<%= edit_user_path(current_user) %>">
          <i class="fa fa-user"></i>&nbsp;Editar Perfil
        </a>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Usuarios</h3>
          </div>
          <div class="card-body">
          <%= render 'components/table/table', table:{
              id: 'datatable-user',
              data: @users,
              config: {},
              action:{
                title: 'Actions',
                actions: %i[delete]
              },
              columns: [
                {
                  title: 'Email',
                  data: 'email',
                },
              ],
          } %>
          </div>
        </div>
        <%= link_to 'Nuevo usuario', new_user_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>