<div class="my-3 my-md-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Nuevo usuario</h3>
            </div>
            <div class="card-body">
              <%= render 'form', user: @user %>
            </div>
          </div>
       </div>
       <%= link_to 'Atrás', users_path %>
    </div>
  </div>
</div>
