<div class="my-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Ver usuario</h3>
            <div class="card-body">
              <div class="form-group">
                <label class="form-label">Email</label>
                <div class="form-control-plaintext"><%= @user.email %></div>
              </div>
            </div>
          </div>
          <%= link_to 'Atrás', users_path %>
        </div>
      </div>
    </div>
  </div>
</div>