<p>Hola <%= @resource.email %>!</p>

<p>Para cambiar tu contraseña, dirígete a este link:</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fuiste tú quien solicitó esto, ignora este email.</p>

